@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: 'Rubik', sans-serif;
}

.bg-top {
  background-image: url(./images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.header {
  text-align: center;
  color: white;
  padding-top: 3%;
}

.input {
  width: 100px;
  height: 60px;
  margin-left: 50px;
  display: block;
  border-radius: 15px;
  border: none;
  flex-grow: 2;
  padding-left: 50px;

}

input::placeholder {
  padding-left: 50px;
  font-size: 18px;
}

form {
  flex-direction: row;
  display: flex;
  margin: 2% 30%;
}

.input-btn {
  left: -60px;
  width: 60px;
  position: relative;
  border-radius: 0px 15px 15px 0px;
  background-color: black;
  color: white;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 150px;
  margin: 0% 10% 0% 10%;
  padding: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 300px;
}

.results h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.results p {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.results-item {
  text-align: center;
}

#map {
  height: 60vh;
}

hr {
  border: none;
  border-left: 1px solid hsl(200, 10%, 50%, 100);
  height: 70px;
  width: 1px;
}

@media only screen and (max-width: 600px) {

    form {
        flex-direction: row;
        display: flex;
        margin: 2% 0%;
      }
    .input {
        height: 60px;
        width: 600px;
        display: block;
        border-radius: 15px;
        border: none;
        flex-grow: 2;
        font-size: 1rem;
        padding-left: 10px;
      }


      input::placeholder {
        padding-left: 5px;
        font-size: 14px;
      }
      .input-btn {
        left: -30px;
        width: 60px;
        position: relative;
        border-radius: 0px 15px 15px 0px;
        background-color: black;
        color: white;
      }
    .results {
        display: flex;
        flex-direction: column;
        height: 400px;
        background-color: #ffffff;
        border-radius: 10px;
        position: absolute;
        top: 150px;
        padding:10%;
      }
      hr{
        display: none;
      }

      .results p {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 500;
      }
  }